/* Header Styles */
header {
    background-color: #6d6875;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center; /* Vertically aligns the image, text, and nav */
    justify-content: space-between; /* Spreads out the image, text, and nav */
    position: relative;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h1 {
    flex: 1; /* Ensures the text takes the center space */
    text-align: center; /* Center the text horizontally */
    margin: 0;
    font-style: oblique;
}

nav {
    margin-left: auto; /* Pushes the nav to the right side */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 15px; /* Adds spacing between the nav items */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Body Background */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D8CAB8;
}

/* Section Styles */
section {
    padding: 40px;
}

#about, #projects, #contact {
    margin: 20px 0;
    padding: 20px;
    /* background: #f0f0f0; */
    border-radius: 8px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    /* color: white; */
}

/* Form Styles */
form input, form textarea, form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
